@model IEnumerable<SurucuKursu.Models.Soru>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Soru Sor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cevap)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cevap)
            </td>
        </tr>
}
    </tbody>
</table>
