@model IEnumerable<SurucuKursu.Models.Haberler>

@{
    ViewData["Title"] = "Haberler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Haberler</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
        </tr>
}
    </tbody>
</table>
