@model SurucuKursu.Models.Soru

@{
    ViewData["Title"] = "Soru";
    ViewData["locationOne"] = "Admin";
    ViewData["locationTwo"] = "Soru";
    ViewData["locationThre"] = "Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Soru</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Metin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Metin)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.IsPosted)*@ Anasayfada gönsün mü?
        </dt> 
        <dd class = "col-sm-10">
            <input @if (Model.Visibility == 1)
            {
                <text>  checked= "checked" </text>
            } disabled="disabled" style="height:30px; width:30px;" type="checkbox">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cevap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cevap)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
